# Database
DATABASE_URL=file:./data/links.db

# Batch size
BATCH_SIZE=3

# AWS S3
AWS_S3_BUCKET=your_access_key_here
AWS_REGION=your_access_key_here
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_access_key_here
S3_PREFIX=articles/
